.App {
  background-color: #282c34;
  min-height: 100vh;
}

.App-header {
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.App-header > div > span {
  margin-left: 20px;
  font-size: calc(10px + 2vmin);
}

nav > ul > li, nav {
  display: inline-block;
  margin: 0px 8px;
  font-size: calc(2vmin);
}

.navAnchor {
  color: #CC5500;
  text-decoration: none;
}

.navAnchor:hover {
  color: orange;
}