.App {
  background-color: #171820;
  min-height: 100vh;
}

.Windmill-Icon {
  text-align: center;
}

.Windmill-Icon > img {
  height: 500px;
  max-width: 80%;
}

.App-header {
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.App-header > div > span {
  margin-left: 20px;
  font-size: calc(12px + 2vmin);
}

nav > ul > li, nav {
  display: inline-block;
  margin: 0px 8px;
  font-size: calc(6px + 2vmin);
}

.navAnchor {
  color: #df861d;
  text-decoration: none;
}

.navAnchor:hover, .category-list-item:hover {
  color: #fdc029;
}

h1 {
  text-align: center;
  color: white;
}

.ReviewApp > ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
  list-style: none;
}

.ReviewApp > ul > li {
  margin: 0px auto;
  padding-bottom: 12px;
}

.ReviewApp > ul > hr {
  width: 50%;
  margin: 12px auto;
  border: 2px solid #bcb6ae;
}

.category-list-item, .review-type-item {
  color: #df861d;
  font-size: 28px;
  text-decoration: none;
}

.review-type-options {
  padding: 12px;
  display: flex;
}

.review-type-item {
  border: 1px solid #bcb6ae;
  margin: 12px;
  padding: 12px;
  flex-grow: 1;
  text-align: center;
}

.review-type-item:hover {
  background-color: #bcb6ae;
  color: white;
  cursor: pointer;
}