.App {
  background-color: #171820;
  min-height: 100vh;
}

.Windmill-Icon {
  text-align: center;
}

.Windmill-Icon > img {
  height: 500px;
  max-width: 80%;
}

.App-header {
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.App-header > div > span {
  margin-left: 20px;
  font-size: calc(12px + 2vmin);
}

nav > ul > li, nav {
  display: inline-block;
  margin: 0px 8px;
  font-size: calc(4px + 2vmin);
}

.navAnchor {
  color: #df861d;
  text-decoration: none;
}

.navAnchor:hover, .category-list-item:hover {
  color: #fdc029;
}

.ReviewApp > h1 {
  text-align: center;
  color: white;
}

.ReviewApp > ul {
  padding: 0;
  text-align: center;
  list-style: none;
}

.ReviewApp > ul > li {
  margin: 10px auto;
}

.category-list-item {
  color: #df861d;
  font-size: 28px;
  text-decoration: none;
}

.vocab-card-wrapper {
  text-align: center;;
}

.vocab-card {
  min-width: 250px;
  max-width: 350px;
  text-align: center;
  background: #aa3d01;
  margin: 0 auto;
  display: inline-block;
}

.vocab-card > div > a {
  text-decoration: none;
}

.vocab-card-text {
  color: #bcb6ae;
  font-size: 32px;
}

.vocab-card-text:hover {
  color: white;
}

.vocab-card-show-side {
  display: block;
}

.vocab-card-hide-side {
  display: none;
}

.vocab-card-controls {
  text-align: center;
}

.vocab-card-controls-nav {
  margin: 8px auto;
  width: 250px;
}

.vocab-card-hide-next-btn, .vocab-card-hide-prev-btn {
  visibility: hidden;
}