.vocabEntryBtn {
  margin: 12px auto;
  text-align: center;
}

.wrapper {
  margin: 0 auto;
  max-width: 1400px;
}

.searchWrapper {
  margin: 12px auto;
  text-align: center;
}

.searchWrapper input {
  width: 480px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
